* {
    background: #000;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-style: normal;


}

main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}



input[type="text"] {
    border: 2px solid #9e78cf;
}

h1 {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    font-weight: 400;
}

ul {
    list-style: none;
}

li {
    color: #9e78cf;
}

button {
    cursor: pointer;
    /* filter: invert(100%); */
    color: #9e78cf;
    border: none;
}